.product-wrap-2 {
  .product-img {
    position: relative;
    width: 100%;
    padding-top: 100%; /* This creates a 1:1 aspect ratio */
    overflow: hidden;
    
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; /* This ensures the image covers the area without distortion */
    }

    .default-img,
    .hover-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/* Ensure grid items are equal width */
.product-grid-2 {
  .col-xl-3,
  .col-md-6,
  .col-lg-4,
  .col-sm-6 {
    display: flex;
    
    .product-wrap-2 {
      width: 100%;
    }
  }
}

.middle-banner {
  height: 546px;
}

.middle-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}