.banner-nineteen {
  .row {
    .col-lg-6:first-child .single-banner {
      min-height: 475px;
    }

    display: flex;
    flex-wrap: wrap;
  }

  .col-lg-6 {
    display: flex;
    flex-direction: column;
  }

  .single-banner {
    flex-grow: 1;
    
    a {
      display: block;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}